/* *** --------------------Page Standards-------------------- *** */

/* * Generic * */

html{ overflow-x: hidden !important; overflow-y: hidden !important; height: 100%; }
body{position: relative; margin: 0px; height: 100%; overflow-y: auto;overflow-x: hidden; }
.directive { font-weight: bold; }
.halfHorizontal, /*.halfhorizontal2,*/ .halfVertical, /*.halfvertical2,*/ .splashImage, .conclusion, .redBG, .floatingImg, img {background-size: cover; background-position: center;  background-repeat: no-repeat;}
.flexBox { height: 100%; display: flex; }
.flexBox.column { flex-direction: column; }
.textarea { display: inline-block; }
.textarea.halfWidth { width: 50%; height: 100vh; overflow-y: auto; overflow-x: hidden; }
.textarea.fullWidth { width: 100%; /*height: 50vh;*/ float: left; }
.halfHorizontal { width: 100%; height: 80vh; z-index: -100; flex-grow: 99; /*background-image:url(../images/placeholder.png);*/ }
.halfVertical {float: right;  width: 50%; height: 100vh;  display: inline-block; /*right: 0px; */  }
.redBG { height: 100vh; width: 100vw; }
.print {text-align: center;	max-width: 100%; font-size: 1em; }
#print { border: none; }
.psurvey.halfWidth { width: 48vw; float: left; }  
.floatingImg { width: 32vw;/* height: 60vh;*/ float: right; margin-right: 9vw;}
.floatingImg.fullWidth { width: 50%; margin-right: 25%; }
.floatingImg.fullWidth>img { width: 100%; }
.wideImg { width: 60%; }



/* * Drag an Drop * */

.draggableContainer{ position: relative; float: left; box-sizing: border-box; border-style: solid; border-width: 1px; height: auto; width: 94%; margin: 1% 3%;  display:inline-block; font-size: 1.5em; padding: 1% 0%; background-color: #e4e4e9; border-radius: 10px; border-color: #595a5d; color: #595a5d;}
.dragWords{ width: 15%; height: auto; float: left; display: block; text-align: center; margin-left: 2%; cursor: move; padding: 1%; box-sizing: border-box; }

.droppableContainer{ display: table; width: 94%; margin:0 auto; position: relative;  height: auto; font-size: 1em;  }

.dropContainer{ position: relative; overflow: hidden;   font-size: 90%;}
.dropContainer.correct { overflow-y: hidden; }
.dragWords.correct { color: rgba(0,0,0,0); pointer-events: none; }

.wrapper {position: relative; display: table-cell;text-align: center;table-layout: fixed; padding: 0 10px;}

.dropAnswer {  position: absolute; display:none; z-index: 10; text-align: center; bottom:10px; left:10px; width: calc(100% - 20px);}
.dropAnswer2 {  position: absolute; display:none; z-index: 10; text-align: center; bottom:10px; left:10px; width: calc(100% - 20px);}



/* ** ------Colours------ ** */
.draggableContainer{ border-color: #878787; border-color: var(--tertiary); color: #000000; color: var(--black); background-color: #dbe0e4; }
.dragWords{ color: #373737; color: #373737; }
/*.dropContainer { background-color: #878787; background-color: var(--tertiary); } */
.dropContainer { background-color:white; color: #FFFFFF; } 
.dropAnswer { background: #DC252C; background: var(--primaryHLGradTop);	background: -webkit-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: -o-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: -moz-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom));}
.dropAnswer>p { color: #FFFFFF; color: var(--white); }

.dropAnswer2 { background: #DC252C; background: var(--primaryHLGradTop);	background: -webkit-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: -o-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: -moz-linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom)); background: linear-gradient(var(--primaryHLGradTop), var(--primaryHLGradBottom));}
.dropAnswer2>p { color: #FFFFFF; color: var(--white); }


.flexContainer {
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.draggableContainer.flexContainer {
	justify-content: left;
}

.twoItems {max-width: 50%;}

.threeItems, .fiveItems, .sixItems {
	width: 33%;
}

.fourItems {
	width: 48%;
}

.dropContainer {
	margin-bottom: 1%;
}

.dropContainer > p {
	color:black;
	background-color:#dbe0e4;
	margin: 0;
	height: 25vh;
	min-height: 100px;
	border: 10px rgba(0,0,0,0.00) solid;
	background-clip: padding-box;
	overflow: hidden;
	padding: 1.25vw;
}

.dropContainer.text {

}


.flexBox{height: calc(100% - 140px)} /* calc(100% - (height headerSpacer + height ccSpacer)) */


.modal-title {
	color: var(--white);
	padding-left: 2vw;
}

.dragWords{ width: 30%; margin-left:3%;word-wrap: break-word; }


.dropAnswer{
	bottom:10px;
	background:var(--black);
	height: 30%;
	align-items: center;
	-webkit-transition: height 0.5s ease-out;
	-moz-transition: height 0.5s ease-out;
	-o-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;


}

.dropAnswer > p {
	padding:0;
	word-wrap: break-word;
	width:90%;
	margin: 5px auto;

}

.draggableContainer{
	background-color: var(--tableLightGrey2);
	border-radius: 10px;
	border-color: #595a5d;
	color: #595a5d;

}


.dropContainer > img {
	width:100%;
	margin:0 auto;
	box-sizing: border-box;
	border-width: 10px;
	border-style: solid;
}

#myModal {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.modal-content {
	max-height: 90vh;
	max-width: 60vw;
	background: var(--primary);
	color: white;
	border-radius: 10px;
	z-index: 999;
	overflow: auto;
}

span.content {
	display: inline-block;
	height:100%;
	overflow-x: hidden;
}



@media only screen and (max-width: 479px) and (orientation: portrait){
	.flexBox{height: calc(100% - 100px)} /* calc(100% - (height headerSpacer + height ccSpacer)) */
}

@media only screen and (max-width: 320px) and (orientation: portrait){
	.modal-content {
		top: 50%;
		max-width: 80%;
		width: 80%;
	}

	.dropAnswer > p {
		font-size: 1em;
	}

}
@media only screen and (min-width: 321px) and (max-width: 479px) and (orientation: portrait){
	.modal-content {
		top: 40%;
		max-width: 80%;
		width: 80%;
	}

	.dropAnswer > p {
		font-size: 1em;

	}
}


/*small tablet*/

@media only screen and (min-width: 480px) and (max-width: 959px) and (orientation: landscape){
	.modal-content {
		top: 20%;

	}

	.landscapeText {
		width:30vw;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait){


}	
/*tablet*/

@media only screen and (min-width: 960px) and (max-width: 1023px) and (orientation: landscape){
	.landscapeText {
		width:30vw;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){

}	

@media only screen and (orientation: landscape){
	.landscapeImages {
		min-width: 14vw;
		width:14vw;
	}


	.twoItems.landscapeText {max-width: 50%;}

	.threeItems.landscapeText, .fiveItems.landscapeText {
		width: 33%;
	}

	.fourItems.landscapeText {
		width: 23%;
	}

	.sixItems.landscapeText {
		width: 32%;
	}


}


@media only screen and (max-width: 480px) {

	.dragWords {
		font-size:0.5em;
	}

	.dropAnswer {
		height: calc(100% - 20px);
		-webkit-transition: height 0.5s ease-out;
		-moz-transition: height 0.5s ease-out;
		-o-transition: height 0.5s ease-out;
		transition: height 0.5s ease-out;
	}

}	



/* *** --------------------RESPONSIVE------------------- *** */


/* Small(Mobile)*/


@media only screen and (max-width: 479px) and (orientation: portrait){	
	
.dragWords { font-size: 0.6em; width: 32%; margin-left: 1%; }
.wrapper { width:50%; float:left; padding:5px 5px 0  5px;}		
.dropContainer>p { font-size: 1em; padding: 1vw 2vw; margin: 3% 0; }		
.dropAnswer { font-size: 0.8em; margin:0;}
	
	
}

/* Medium(Tablet)*/

@media only screen and (min-width: 480px) and (max-width: 959px) and (orientation: landscape){

p, li { font-size: 1em}
h1 { font-size: 1.5em; }
h3 { font-size: 1.125em; }
	
.dragWords { font-size: 0.7em; width: 32%; margin-left: 1%; }
.dropContainer>p { font-size: 1em; padding: 1vw 1vw }	
.dropAnswer { font-size: 0.8em; }		
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait){

p, li { font-size: 1em}	
h1 { font-size: 1.5em; }
h3 { font-size: 1.125em; }	
	
.dragWords { font-size: 0.7em; width: 32%; margin-left: 1%; }
.wrapper { width: 50%; float:left; padding:5px 5px 0  5px;}	
.dropContainer>p { font-size: 1em; padding: 1vw 1vw; }	
.dropAnswer { font-size: 0.8em; }	
	
}


@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: portrait){

p, li { font-size: 1em}	
h1 { font-size: 1.5em; }
h3 { font-size: 1.125em; }	
	
.dragWords { font-size: 0.7em; width: 32%; margin-left: 1%; }
.wrapper { width: 50%; float:left; padding:5px 5px 0  5px;}	
.dropContainer>p { font-size: 1em; padding: 1vw 1vw; }	
.dropAnswer { font-size: 0.8em; }	
	
}

@media only screen and (min-width: 960px) and (max-width: 1023px) and (orientation: landscape){
	
p, li { font-size: 1em}	
h1 { font-size: 1.5em; }
h3 { font-size: 1.125em; }	

	
.dragWords { font-size: 0.7em; }
.wrapper { width: 50%; float:left; padding:5px 5px 0  5px;}	
.dropContainer>p { font-size: 1em; padding: 1vw 1vw }	
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
	
p, li { font-size: 1em}	
h1 { font-size: 1.5em; }
h3 { font-size: 1.125em; }	

	
.dragWords { font-size: 0.7em; }
.wrapper { width: 60%; float:left; padding:5px 5px 0  5px;}		
.dropContainer>p { font-size: 1em; padding: 1vw 1vw }	
	
}

/* Large(Desktop/landscape Tablet)*/

@media only screen and (min-width: 1024px) and (max-width: 1824px) and (orientation: landscape){
	
p, li { font-size: 1.2em;}	
h1 { font-size: 1.8em; }
h3 { font-size: 1.35em; }

.dragWords { font-size: 0.8em; }	
.dropContainer { font-size: 0.9em; }
.dropContainer>p { font-size: 1.25em; padding: 1vw 1.25vw }		
.dropAnswer { font-size: 0.9em; }	
	
}

/* ipad and larger tablets */

@media only screen and (min-width: 1024px) and (orientation: portrait){

p, li { font-size: 1.3em}
h1 { font-size: 1.95em; }
h3 { font-size: 1.45em; }	

	
.dragWords { font-size: 0.7em; }	
.dropContainer>p { font-size: 1.2em; padding: 1vw 1vw }	
.dropAnswer { font-size: 0.8em; }	
	
}


