body {overflow:hidden}
		
@media only screen and (max-width: 550px) {
	.halfHorizontal {display:none!important;}
}

@media only screen and (max-width: 959px) and (orientation: landscape){
	body {overflow-y: auto!important;}
}

@media only screen and (max-width: 767px) and (orientation: portrait){
	body {overflow-y: auto!important;}
}