html { overflow-x: hidden; overflow-y: auto;}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
	body {overflow-y: auto;}

}

@media only screen and (min-width: 480px) and (max-width: 959px) and (orientation: landscape){
	body {overflow-y: auto;}
}


@media only screen and (max-width: 479px) and (orientation: portrait){
	body {overflow-y: auto;}
}

.vertical-container {
	width: 100vw;
}

.cndButton {
	flex-grow: 1;
}

.textContainer {
	max-width:100vw;
}