/* .popup-container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#2d2d2d, #000000);
  width: 450px;
  border-radius: 10px;
  padding: 1em 2em;
  z-index: 1;
  display: none;
}

.head{
  color: white;
  display: flex;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #595a5d;
}

.head .title{
  flex: 3 1 0;
  color: #059CBF;
  font-weight: bold;
  font-size:1.2em;
}

.head .close{
  background: #F26524;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  position: relative;
  cursor: pointer;
  display:none;
}

.head .close:focus, .head .close:hover{
  background: linear-gradient(#ff9b4d, #ff794d);
}

.head .close::after{
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}


.close img{
  width: 80%;
  height: 80%;
}

.popup-container .content{
  padding-top: 0.5em;
}

.popup-container .content *{
  color: white;
  padding: 0;
}

@media only screen and (max-width: 468px){
  .popup-container{
    width: 95%;
  }
}
 */


 .flexContainer {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.draggableContainer.flexContainer {
  justify-content: left;
}

.twoItems {max-width: 50%;}

.threeItems{
  max-width: 450px;
}
.fiveItems{
  width: 20%;
}
.sixItems{
  width: 15%;
}
.threeItems {
  width: 33%;
}

.fourItems {
  width: 25%;
}

.dropContainer {
  margin-bottom: 1%;
}


.dropContainer > p {
  color:black;
  background-color:#dbe0e4;
  margin: 0;
  height: 25vh;
  min-height: 100px;
  border: 10px rgba(0,0,0,0.00) solid;
  background-clip: padding-box;
  overflow: hidden;
  padding: 1.25vw 0 1.25vw 1.25vw;
}


.dropContainer.text {
  
}


.flexBox{height: calc(100% - 140px)} /* calc(100% - (height headerSpacer + height ccSpacer)) */


.modal-title {
  padding-left: 2vw;
  font-size: 1.2em;
}

.dragWords{ width: 30%; margin-left:3%;word-wrap: break-word; }


.dropAnswer{
  bottom:10px;
  align-items: center;
  transition: height 0.5s ease-out;
}

.dropAnswer > p {
  padding:1em 0;
  word-wrap: break-word;
  width:90%;
  margin: 5px auto;
  
}

.draggableContainer{
  background-color: #b5b6bc;
  border-radius: 10px;
  border-color: #595a5d;
  color: #595a5d;
  
}


.dropContainer > img {
  width:100%;
  margin:0 auto;
  box-sizing: border-box;
  border-width: 10px;
  border-style: solid;
}

#myModal {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index:1;
}

.modal-content {
  max-height: 90vh;
  max-width: 60vw;
  background: linear-gradient(#2d2d2d, #000000);
  border-radius: 10px;
  z-index: 999;
  overflow: auto;
}

.modal-content p{
  color: white;
}

span.content {
  height:100%;
  overflow-x: hidden;
}

.imgContainer{
  margin-bottom: 3%;
  overflow: initial;
}

@media only screen and (max-width: 1069px) and (orientation: portrait){
  .sixItems{
    width: 33%;
  }
}

@media only screen and (max-width: 479px) and (orientation: portrait){
  .flexBox{height: calc(100% - 100px)} /* calc(100% - (height headerSpacer + height ccSpacer)) */
}

@media only screen and (max-width: 320px) and (orientation: portrait){
  .modal-content {
    top: 50%;
    max-width: 80%;
    width: 80%;
  }
        
  .dropAnswer > p {
    font-size: 1em;
  }

}
@media only screen and (min-width: 321px) and (max-width: 479px) and (orientation: portrait){
  .modal-content {
    top: 40%;
    max-width: 80%;
    width: 80%;
  }

  .dropAnswer > p {
    font-size: 1em;
    
  }
}


/*small tablet*/

@media only screen and (min-width: 480px) and (max-width: 959px) and (orientation: landscape){
  .modal-content {
    top: 20%;

  }
  
  .landscapeText {
    width:30vw;
  }
  
}
@media only screen and (max-width: 600px) and (orientation: portrait){
  .fourItems{
    width: 50%;
  }
  .fiveItems{
    width: 33%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: portrait){


}	
/*tablet*/

@media only screen and (min-width: 960px) and (max-width: 1023px) and (orientation: landscape){
  .landscapeText {
    width:30vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){

}	

@media only screen and (orientation: landscape){
  /* .landscapeImages {
    min-width: 14vw;
    width:14vw;
  } */
  
      
  .twoItems.landscapeText {max-width: 50%;}

  .threeItems.landscapeText, .fiveItems.landscapeText {
    width: 33%;
  }

  .fourItems.landscapeText {
    width: 23%;
  }

  .sixItems.landscapeText {
    width: 32%;
  }
  
  
}

.dropContainer::after{
  font-weight: bold;
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  font-size: 1em;
  color: var(--textColor);
  text-align: center;
  content: attr(data-after);
  z-index:1;
}

@media only screen and (max-width: 480px) {
  
  .dragWords {
    font-size:0.5em;
  }
  
  .dropAnswer {
    height: calc(100% - 20px);
    -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
  }

  .draggableContainer{
    margin-top: 1em;
  }

}	

